body {
    background-color: lightblue;
  }

h1 {
    color: darkblue;
}

.logo { 
    width: 245px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

nav ul li a {
    width: 200px;
    height: 18px;
    background-color: #162d59;
    padding: 20px; 
    border-left:solid 4px #5483bf;
    color: #f2e4c9;
    text-decoration: none;
    display:block;
}

input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=tel], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 20%;
    background-color: #2111b4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #4ae2ec;
  }

  .label, .input
  { 
    display: block;
  width: 200px;
  float : left;
  margin-top: 4px;
  clear:both;
  }

@media (min-width: 1000px) 
{
    body {
      background-color:mediumturquoise;
    }
    nav ul li a {
      display: inline;
      float: left;
    }
}


